* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  background-image: url("https://img2.thuthuatphanmem.vn/uploads/2018/11/30/hinh-nen-may-trang-dep_104324872.jpg");
}

.container {
  width: 700px;
  margin: 0px auto;
}
.container .header {
  width: 700px;
  padding: 50px 0px 30px 0px;
  display: flex;
  justify-content: space-between;
}
.container .header h1 {
  font-size: 45px;
  font-weight: 500;
  color: #212529;
  text-shadow: 5px 2px 4px grey;
}
.container .header .form-search {
  margin: auto;
}
.container .header .form-search input {
  width: 250px;
  height: 40px;
  font-size: 15px;
  color: #212529;
  padding: 0px 10px;
  border: 1px solid #46494d;
  border-radius: 10px;
  outline: none;
}
.container .header .form-search input:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  border-radius: 10px;
  transition: 0.1s ease;
}
.container .header .form-filter {
  width: 80px;
  height: 40px;
  margin: auto 0px auto auto;
  border: 1px solid #46494d;
  border-radius: 8px;
  color: #212529;
  outline: none;
  overflow: hidden;
}
.container .form-submit input {
  width: 678px;
  height: 40px;
  font-size: 15px;
  color: #212529;
  line-height: 2.5;
  padding: 0px 10px;
  border: 1px solid #46494d;
  border-radius: 10px;
  outline: none;
}
.container .form-submit input:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  border-radius: 10px;
  transition: 0.1s ease;
}
.container .btn-control {
  width: 700px;
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
}
.container .btn-control-checkAll {
  width: 90px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 5px;
  background-color: #007bff;
  border-radius: 10px;
  cursor: pointer;
}
.container .btn-control-checkAll:hover {
  box-shadow: 0 0 5px #212529;
}
.container .btn-control-deleteAll {
  width: 90px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 5px;
  background-color: #ff0000;
  border-radius: 10px;
  cursor: pointer;
}
.container .btn-control-deleteAll:hover {
  box-shadow: 0 0 5px #212529;
}
.container .btn-control div {
  padding: 10px;
}
.container .btn-control div span {
  margin: 0px 15px;
  font-size: 16px;
  font-weight: 550;
}
.container .btn-control div .All {
  color: black;
}
.container .btn-control div .Complete {
  color: green;
}
.container .btn-control div .UnComplete {
  color: red;
}
.container .list-element {
  padding: 0px 0px 50px 0px;
}
.container .list-element li {
  width: 648px;
  height: 50px;
  margin: 0px 0px 5px 0px;
  padding: 0px 25px;
  border-radius: 10px;
  border: 1px solid #46494d;
  display: flex;
  justify-content: space-between;
}
.container .list-element li .Item {
  margin: auto;
}
.container .list-element li .Item input {
  width: 456px;
  height: 35px;
  padding: 0px 20px;
  font-size: 14px;
  text-align: center;
  border-radius: 10px;
  outline: none;
  overflow: hidden;
}
.container .list-element li .Item input:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  transition: 0.1s ease;
}
.container .list-element li button {
  width: 500px;
  height: 40px;
  margin: auto;
  padding: 0px 20px;
  border-radius: 10px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container .list-element li .form-check {
  margin: auto;
}
.container .list-element li .form-check .form-check-input {
  width: 20px;
  transform: scale(1.2);
}
.container .list-element li .btn-icon-list {
  display: flex;
  justify-content: space-between;
}
.container .list-element li .btn-icon-list i {
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
}
.container .list-element li .btn-icon-list .btn-icon-edit {
  margin: auto;
  color: #007bff;
}
.container .list-element li .btn-icon-list .btn-icon-edit:hover {
  transition: all 0.2s ease;
  color: #ffffff;
  background-color: #007bff;
}
.container .list-element li .btn-icon-list .btn-icon-remove {
  margin: auto;
  color: #de3545;
}
.container .list-element li .btn-icon-list .btn-icon-remove:hover {
  transition: all 0.2s ease;
  color: #ffffff;
  background-color: #de3545;
}

.done {
  -webkit-text-decoration: line-through #ff0000;
          text-decoration: line-through #ff0000;
  background-color: #90f184;
}